*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

.clear{
    clear: both;
}

.main{

}

.header{
    height: 50px;
    background-color: dodgerblue;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.nav {
    display: inline-block;
}

.nav, .subnav {
    list-style-type: none;
}

.nav > li {
    display: inline-block;
}

.nav li {
    position: relative;
}

.nav>li>a {
    color: #ffff;
}

.nav li a {
    color: #ffff;
    text-decoration: none;
    line-height: 50px;
    display: block;
    padding: 0 25px;
}

.nav > li:hover .subnav{
    display: block;
}

.nav > li:hover > a{
    color: #ffff;
    background-color: dodgerblue;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0 , 0 , 0.3);
}

.nav .subnav li:hover a{
    color: #ffff;
    background-color: dodgerblue;
    box-shadow: 0 0 10px rgba(0 , 0 , 0.3);
}

.nav .subnav{
    display: none;
    position: absolute;
    top : 100%;
    left: 0;
    background-color: #ffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0 , 0 , 0.3) ;
    width: 10rem;
}

.nav .subnav a{
    color: #000;
}

.nav .nav-dropdown {
    font-size: 10px;
}

.header .search-btn{
    float: right;
    line-height: 50px;
    padding: 0 16px;
    display: inline-block;
    width: 250px;
    background: #efefef;
    border-radius: 20px;
    margin-right: 10px;
}

.header .search-btn input{
    background: transparent;
    padding: 10px;
    outline: none;
    border: none;
}

.header .search-icon {
    color: #000;
    font-size: 20px;
    cursor: pointer;
}

.header h1 {
    font-family: Cursive;
    font-size:x-large;
    color: palevioletred;
    display: inline-block;
    padding: 10px;
}

.header .login-btn {
    float: right;
    line-height: 50px;
}

.header .login-btn a{
    color: #ffff;
    text-decoration: none;
    display: inline-block;
    padding: 0 20px;
}

.header .login-btn:hover a{
    color: #ffff;
    background-color: dodgerblue;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0 , 0 , 0.3);
}

.header .notification-btn{
    float: right;
    line-height: 50px;
    padding: 0 20px;
    margin-right: 20px;
}

.header .notification-btn a{
    text-decoration: none;
    display: inline-block;
    line-height: 50px;
    padding: 0 5px;
}

.notification-icon {
    color: #ffff;
    font-size: 20px;
}

.header .notification-btn:hover a{
    color: #ffff;
    background-color: dodgerblue;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0 , 0 , 0.3);
}

.message{
    position: fixed;
    bottom: 80px;
    right: 70px;
    display: block;
    z-index: 2;
}

.message a{
    text-decoration: none;
    color: #ffff;
    display: block;
    padding: 8px;
}

.message i{
    font-size: 30px;
    padding: 8px;
    border-radius: 10px;
    background-color: dodgerblue;
    box-shadow: 0 0 10px rgba(0 , 0 , 5);
}

.message:hover i{
    color: #ffff;
    background-color: rgb(24, 24, 199);
}

.container-couser{
    position: relative;
    margin-top: 50px;
    padding-top: 50px;
    background-color: rgb(221, 236, 251);
}

.couser-section{
    text-align: center;
    padding: 40px 20px;
}

.couser-section .section-heading {
    font-family: Cursive;
    color: #ffff;
    font-size: 20px;
    padding: 0 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0 , 0 , 5);
    background-color: palevioletred;
}

.couser-section a{
    text-decoration: none;
    display: inline-block;
}

.couser{
    padding: 0 100px;
    margin-bottom: 30px;
}

.couser-item{
    float: left;
    width: 33.33%;
    padding: 0 50px;
    display: inline-block;
    margin-bottom: 60px;
}

.couser-item img{
    width: 300px;
    height: 250px;
}

.couser-body{
    background: #ffff;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0 , 0 , 0.5);
}

.couser-body img{
    width: 300px;
    height: 250px;
}

.couser-body p,
.couser-body h3 {
    padding: 10px;
}

.couser-body a {
    color: #ffff;
    text-decoration: none;
    text-align: center;
    display: block;
    border-radius: 10px;
    padding: 15px;
    background: dodgerblue;
}

.couser-body a:hover {
    color: #ffff;
    background-color: dodgerblue;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0 , 0 , 0.3);
}

.couser-rating{
    display: inline-block;
    padding: 15px;
}

.couser-rating input{
    display: none;
}


.couser-rating label{
    position: relative;
    cursor: pointer;
    list-style-type: none;
    padding-left: 10px;
}

.couser-rating label::before{
    content: '\f005';
    font-family: 'Font Awesome 5 Free';
    font-weight: 100;
    position: relative;
    display: inline-block;
    font-size: 20px;
    color: yellow;
}

.footer{
    padding: 50px 0 ;
    text-align: center;
    background-color: rgb(120, 179, 238);
}

.social-list{
    font-size: 25px;
}

.social-list a{
    color: rgba(0 , 0 , 0.3);
    text-decoration: none;
}

.social-list a:hover {
    color: #cccc;
}
